# Environment variables
.env
.env.local
.env.*.local
config.js
*.checkpoint
# Firebase keys / config
firebase-credentials.json
google-services.json

# Temporary files
.tmp/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
